<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Audience Panel</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 style="text-align: center">Audience Panel</h1>
    <div style="padding: 40px">
      <div style="display: flex; flex-direction: row">
        <form
          style="
            width: 20%;
            margin: auto;
            padding: 20px;
            border: 3px solid grey;
          "
          method="POST" 
          action="/audience/"
        >
          <h2 style="text-align: center">Buy A Ticket</h2>
          <input type="hidden" name="form_name" value="buy-a-ticket" />
          <input
            placeholder="SessionID"
            id="form2Example1"
            name="sessionID"
            class="form-control"
            required
          />


          <button
            id="buy-a-ticket-submit"
            type="submit"
            class="btn btn-primary btn-block mb-4"
          >
            Buy Ticket
          </button>
          <p>{{ content.feedbacks.buy_a_ticket }}</p>
        </form>
        <div
          style="
            width: 20%;
            margin: auto;
            padding: 20px;
            border: 3px solid grey;
          "
        >
          <h2 style="text-align: center">Rate Movie</h2>
          <form
            method="POST" 
            action="/audience/">

            <input type="hidden" name="form_name" value="rate-movie" />
            <input
              placeholder="Session ID"
              id="form2Example1"
              name="sessionID"
              class="form-control"
              required
            />
            <input
              placeholder="Rate 0-5"
              id="form2Example1"
              name="rate"
              class="form-control"
              required
            />
            <button
              id="rate-movie-submit"
              type="submit"
              class="btn btn-primary btn-block mb-4"
            >
              Rate Movie
            </button>
            <p>{{ content.feedbacks.rate_movie }}</p>
          </form>
        </div>
      </div>
      
      <div style="display: flex; flex-direction: row">
        <div
          style="
            width: 40%;
            margin: auto;
            padding: 20px;
            border: 3px solid grey;
          "
        >
          <div style="margin: auto; display: flex; flex-direction: row">
            <h2 style="margin-right: 20px">All Movies</h2>
            <form
              method="POST"
              action="/audience/">
              <input type="hidden" name="form_name" value="list-movies" />
              <button
                id="list-movies-submit"
                type="submit"
                class="btn btn-primary btn-block mb-4"
              >
                List Movies
              </button>
              <p>{{ content.feedbacks.list_movies }}</p>
            </form>
          </div>
          <div style="margin: auto">
            <table class="table">
              <tr>
                <th>Moive ID</th>
                <th>Movie Name</th>
                <th>Diretor's Username</th>
                <th>Platform</th>
                <th>Theatre ID</th>
                <th>Time Slot</th>
                <th>Predecessors List</th>
              </tr>
              {% if content.data.movies %} {% for film in content.data.movies %}
              <tr>
                <td>{{ film.0 }}</td>
                <td>{{ film.1 }}</td>
                <td>{{ film.2 }}</td>
                <td>{{ film.3 }}</td>
                <td>{{ film.4 }}</td>
                <td>{{ film.5 }}</td>
                <td>{{ film.6 }}</td>
              </tr>
              {% endfor %} {% endif %}
            </table>
          </div>
        </div>
        <div
          style="
            width: 30%;
            margin: auto;
            padding: 20px;
            border: 3px solid grey;
          "
        >
          <div style="margin: auto; display: flex; flex-direction: row">
            <h2 style="margin-right: 20px">Bought Tickets</h2>
            <form
              method="POST"
              action="/audience/">
              <input type="hidden" name="form_name" value="list-bought-ticket" />

              <button
                id="list-bought-ticket-submit"
                type="submit"
                class="btn btn-primary btn-block mb-4"
              >
                List Tickets
              </button>
              <p>{{ content.feedbacks.list_bought_ticket }}</p>
            </form>
          </div>
          <div style="margin: auto">
            <table class="table">
              <tr>
                <th>Moive ID</th>
                <th>Movie Name</th>
                <th>Session ID</th>
                <th>Rating</th>
                <th>Overall Rating</th>
              </tr>
              {% if content.data.userRating %} {% for rating in content.data.userRating %}
              <tr>
                <td>{{ rating.0 }}</td>
                <td>{{ rating.1 }}</td>
                <td>{{ rating.2 }}</td>
                <td>{{ rating.3 }}</td>
                <td>{{ rating.4 }}</td>
              </tr>
              {% endfor %} {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
